@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    margin: 0;
}

body {
    display: flex;
}

.content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.item {
    position: relative;
}

.content .item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 30px;
    justify-content: center;
}

.content .item .itemHeader {
    margin-bottom: 2rem;
}

.content .item .itemBody {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.content .item .itemBody .row {
    display: inline-block;
    height: 11rem;
    width: 15rem;
    padding-top: 1rem;
    font-size: large;
}

.content .item .itemBody .row .project {
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.active {
    background: #4cd137;
}

.beyondDeadline {
    background: #e84118;
}

.addItem {
    margin: 5rem auto;
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 3rem;
    color: #4b7bec;
    cursor: pointer;
}

.completed {
    background: #00a8ff;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.nav i {
    margin-left: 10px;
    margin-right: auto;
    font-size: 20px;
    cursor: pointer;
}

.nav button {
    margin-right: 10px;
    background: #1289A7;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 3px;
}

.nav button:hover {
    background: #EA2027;
}

.aside {
    position: fixed;
    display: flex;
    height: 100%;
    width: 20rem;
    left: -20rem;
    z-index: 10;
    transform: translateX(20rem);
    background: #0097e6;
    align-items: center;
    flex-direction: column;
}


.aside ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.aside li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-align: center;
}

.aside li:hover {
    background: #5fb6e6;
}

.aside li a {
    text-decoration: none;
    color: white;
}

.aside button {
    margin-top: 10%;
    height: 40px;
    width: 70%;
    border: none;
    color: white;
    font-weight: bolder;
    background: #4cd137;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .aside {
        width: 20rem;
    }

    .nav button {
        margin-right: 0px;
    }
}